* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.navbar {
  background-color: rgb(0, 0, 51);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  height: 60px;
}

.logo img {
  width: 40px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero {
  background-image: url(https://raw.githubusercontent.com/Mohak-Trivedi/xcruise-assets/refs/heads/master/hero-cruise.png);
  background-size: cover;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  text-align: center;
}

.hero button {
  background-color: #f76707;
  border: 0;
  padding: 7px 10px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.discover {
  padding: 20px;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-left: 5px solid #f76707;
  padding-left: 10px;
}

.popular {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pills {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pill {
  padding: 5px;
  border-radius: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.pill img {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
.banner {
  background-image: url(https://raw.githubusercontent.com/Mohak-Trivedi/xcruise-assets/refs/heads/master/caribbean-cruise.png);
  background-size: cover;
  height: 250px;
  margin: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
}

.cards {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  cursor: pointer;
}
.cards :hover {
  cursor: pointer;
}

.card {
  height: 250px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
}
.card1 {
  background-image: url(https://raw.githubusercontent.com/Mohak-Trivedi/xcruise-assets/refs/heads/master/mediterranean-cruise.png);
  background-size: cover;
}
.card2 {
  background-image: url(https://raw.githubusercontent.com/Mohak-Trivedi/xcruise-assets/refs/heads/master/dubai-cruise.png);
  background-size: cover;
}
.card3 {
  background-image: url(https://raw.githubusercontent.com/Mohak-Trivedi/xcruise-assets/refs/heads/master/northern-europe-cruise.png);
  background-size: cover;
}
.card4 {
  background-image: url(https://raw.githubusercontent.com/Mohak-Trivedi/xcruise-assets/refs/heads/master/redsea-cruise.png);
  background-size: cover;
}
.card5 {
  background-image: url(https://raw.githubusercontent.com/Mohak-Trivedi/xcruise-assets/refs/heads/master/bermuda-beach-cruise.png);
  background-size: cover;
}
.card6 {
  background-image: url(https://raw.githubusercontent.com/Mohak-Trivedi/xcruise-assets/refs/heads/master/south-africa-cruise.png);
  background-size: cover;
}
.card7 {
  background-image: url(https://raw.githubusercontent.com/Mohak-Trivedi/xcruise-assets/refs/heads/master/south-america-cruise.png);
  background-size: cover;
}
.card8 {
  background-image: url(https://raw.githubusercontent.com/Mohak-Trivedi/xcruise-assets/refs/heads/master/asia-cruise.png);
  background-size: cover;
}

.card p {
  font-size: 12px;
}

#contact {
  text-align: center;
  margin: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact_info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.contact_info div {
  border: 1px solid gray;
  padding: 10px;
}
.contact_info div p {
  font-size: 14px;
  margin-top: 5px;
  color: #333;
}

footer {
  background-color: rgb(0, 0, 51);
  color: #fff;
}
.footer-box {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.footer_rights {
  color: #fff;
  display: flex;
  place-self: center;
  padding-bottom: 10px;
}
.social-icons img {
  width: 30px;
}
.list h3 {
  color: #f76707;
  margin: 10px 0;
}
.list p {
  margin-bottom: 3px;
}
.hr {
  border-bottom: 1px solid gray;
}
/* responsive*/

@media only screen and (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
  }

  .hero {
    display: flex;
    flex-wrap: wrap;
  }

  .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    border-left: 0;
    padding-left: 10px;
  }
  .pill span {
    font-size: 10px;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact_info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .footer-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
}

@media only screen and (max-width: 480px) {
  .popular {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .pills {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .pill span {
    font-size: 12px;
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
